body { 
    font-family: 'Inter', sans-serif; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    background-color: #f0f2f5; 
}

.service-card:active {
    background-color: #fffbeb; /* Amarelo bem claro, similar ao hover */
    transition: background-color 0.2s ease-in-out;
}